@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: black;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
.name{
    font-size: 30px;
    font-weight: bolder;
    font-family: Teko;
    letter-spacing: 0.1em;
    color: white;
}

nav a{
    margin-left: 40px;
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 600;
    font-family: oswald;
    position: relative;
    transition: .3s;
}

nav a::before{
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    left: 0;
    height: 2px;
    background: white;
    transition: .3s;

}

nav a:hover::before{
    width: 100%;
}

nav a:hover{
    font-size: 25px;
}
.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.7s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section h1{
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    font-family: noto serif KR;
    font-weight: normal;
}

section{
    font-family: noto serif KR;
    text-align: center;
    margin-bottom: 20px;
}

section h2{
    text-align: left;
    font-weight: normal;
}

.vid {
    border-radius: 20px;
}

footer{
    background-color: white;
    height: 80px;
    text-align: center;
    margin-top: 80px;
}

footer a{
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    background-color: black;
    border-radius: 50px;
}

footer a:hover{
    font-size: 60px;
}