  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora&family=Oswald&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: black;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-size: 30px;
    font-weight: bolder;
    font-family: Teko;
    letter-spacing: 0.1em;
    color: white;
}

nav a{
    margin-left: 40px;
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 600;
    font-family: oswald;
    position: relative;
    transition: .3s;
}

nav a::before{
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    left: 0;
    height: 2px;
    background: white;
    transition: .3s;

}

nav a:hover::before{
    width: 100%;
}

nav a:hover{
    font-size: 25px;
}

section h1{
    margin-top: 150px;
    text-align: center;
    font-size: 70px;
}

.About{
    font-size: larger;
    margin-top: 40px;
    text-align: center;
    font-family: Noto Serif KR;

}

.About a{
    border: 1px solid;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    margin-top: 20px; 
    margin-bottom: 20px;
    display: inline-block;
    transition: .5s;
}

.About a:hover{
    font-size: 40px;
}

.img{
    border-radius: 10px;
    margin-left: 50px;
}

.brief{
    font-family: Noto serif KR;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

article a{
    text-decoration: none;
    font-weight: bold;
    font-family: Old Standard TT;
    color:crimson;
    margin-left: 0px;
}




.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.7s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
